---
import Default from "../layouts/Default.astro";
import PageContent from "../components/PageContent.astro";
import Navigation from "../components/Navigation.astro";
import getHomePageData from "../mappers/pages/Home";

const pageData = await getHomePageData();
---

<Default
  headTitle={pageData.seoData.meta_title}
  metaDescription={pageData.seoData.meta_description}
>
  <main>
    <Navigation />
    <PageContent pageContent={pageData.pageContent} />
  </main>
</Default>

<script define:vars={{ pageData }}>
  console.log(pageData);
</script>
