---
import Default from "../layouts/Default.astro";
import PageContent from "../components/PageContent.astro";
import Navigation from "../components/Navigation.astro";
import getHomePageData from "../mappers/pages/Home";

const pageData = await getHomePageData();
---

<Default headTitle={pageData.siteTitle}>
  <main>
    <Navigation />
    <PageContent pageContent={pageData.pageContent} />
  </main>
</Default>
