---
import Default from "../../layouts/Default.astro";
import SimpleTextBlock from "../../components/SimpleTextBlock.astro";
import ZebraStripe from "../../components/ZebraStripe.astro";
import Navigation from "../../components/Navigation.astro";
import NewsList from "../../components/NewsList.astro";

const text = `Enter the enchanting world of Pokémon with our concise news coverage. Whether you're a devoted Trainer or new to the game, our page keeps you updated on the latest in the Pokémon universe. From new regions to legendary encounters, events, evolutions, and controversies, we've got it all. Dive in and stay informed!`;
---

<Default headTitle="News overview | PokemonPrime">
  <main class="padding-bottom-0">
    <Navigation />
    <ZebraStripe>
      <SimpleTextBlock title="News" text={text} />
    </ZebraStripe>
    <ZebraStripe removeMarginBottom={true} isDark={true}>
      <NewsList />
    </ZebraStripe>
  </main>
</Default>
