---
import EvolutionItem from "./EvolutionItem.astro";

interface Props {
  evolutions: any;
}

const { evolutions } = Astro.props;
---

<div class="evolution-block">
  <div class="container">
    <h2>Evolution Chain</h2>
    <div class="evolutions">
      {evolutions.map((pokemon: any) => <EvolutionItem pokemon={pokemon} />)}
    </div>
  </div>
</div>
