---
interface Props {
  title: string;
  text: string;
  image: string;
  imageAlt: string;
}

const { title, text, image, imageAlt } = Astro.props;
---

<div class="news-intro">
  <div class="news-detail-container">
    <h2>{title}</h2>
  </div>

  <div class="image margin-bottom-1">
    <img src={image} alt={imageAlt} />
  </div>

  <div class="news-detail-container">
    <p class="introduction mw-text">
      {text}
    </p>
  </div>

  <style scoped lang="scss">
    .news-intro {
      .image {
        background: #dadada;
        padding: 2rem 0;
        margin-bottom: 2rem;

        img {
          border-radius: 30px;
          max-width: 630px;
          margin: auto;
        }
      }

      .introduction {
        font-weight: bold;
        margin-bottom: 3rem;
      }
    }
  </style>
</div>
