---
interface Props {
  title: string;
  text: string;
}

const { title, text } = Astro.props;
---

<div class="simple-text-block">
  <div class="container">
    <h2>{title}</h2>
    <p class="mw-text">
      {text}
    </p>
  </div>
</div>
