---

---

<li class="slider-item">
  <slot />
</li>

<style scoped lang="scss">
  li {
    flex-shrink: 0;
    position: relative;
    width: 100%;
    left: 0;

    &:not(:first-of-type) {
      margin-left: 150px;
    }
  }
</style>
